<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
    <bean id="customerService" class="com.lm.aop.advice.CustomerService">
    	<property name="name" value="lm"></property>
    	<property name="url" value="http://www.baidu.com"></property>
    </bean>
    
    <bean id="helloBeforeMethod" class="com.lm.aop.advice.HelloBeforeMethod"></bean>
    <bean id="helloAfterMethod" class="com.lm.aop.advice.HelloAfterMethod"></bean>
    <bean id="afterThrowingMethod" class="com.lm.aop.advice.AfterThrowingMethod"></bean>
    
    <bean id="aroundMethod" class="com.lm.aop.advice.AroundMethod"></bean>
    
    <bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService" />
        <property name="interceptorNames">
            <list>
                <!-- <value>helloBeforeMethod</value>
                <value>helloAfterMethod</value>
                <value>afterThrowingMethod</value>
                <value>aroundMethod</value> -->
                <value>customerAdvisorURL</value>
                <value>customerAdvisorNM</value>
            </list>
        </property>
    </bean>
    
    <!-- 这种做法将 method 名字与具体的 advice 捆绑在一起，有悖于 Spring 松耦合理念 -->
    <!-- <bean id="customerAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
        <property name="mappedName" value="printOutName" />
        <property name="advice" ref="aroundMethod" />
	</bean> -->
	<bean id="customerAdvisorURL" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="patterns">
			<list>
				<value>.*URL.*</value>
			</list>
		</property>
		<property name="advice" ref="aroundMethod"></property>
	</bean>
	
    <bean id="customerAdvisorNM" class="org.springframework.aop.support.DefaultPointcutAdvisor">
    	<property name="pointcut" ref="customerPointcut"></property>
    	<property name="advice" ref="aroundMethod"></property>
    </bean>
    <bean id="customerPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
        <property name="mappedName" value="printOutName" />
	</bean>
</beans>